<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body>
<h1 style="font-size: 16px">{{ subject }}</h1>
<p>Поступило обращение от пользователя <span style="font-weight: bold; color: #4c2fb6">{{ subscriber }}</span></p>
<p><span style="font-weight: bold;">Содержимое обращения:</span> <br> {{ text }}</p>
</body>
</html>
